data/
data_raw/
mlruns/*
.lh/*
.lh/.lhignore
.lh/.gitignore.json
.DS_Store
modelisation_p2.ipynb
notes.ipynb
env_p8_chantepie
env_p8_chantepie/
.lh/utils_p8.py.json
.lh/classe_dataset.py.json
.gitignore
.gitignore
__pycache__/utils_p8.cpython-310.pyc
.gitignore
.lh/count_classes.py.json
full_train_datagen.pkl
.gitignore
__pycache__/classe_dataset.cpython-310.pyc
count_classes/class_counter_full_train_datagen.pkl
.lh/requirements.txt.json
.lh/api/api.py.json
.lh/api/Procfile.json
.gitignore
.lh/api/requirements.txt.json
model_tf/fingerprint.pb
model_tf/saved_model.pb
.gitignore
model_tf/variables/variables.index
.gitignore
model_tf/variables/variables.data-00000-of-00001
.gitignore
*.keras
*.h5
